.contactsContainer {
  height: 90vh;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 100%;
  border-right-color: rgb(194, 194, 194);
  border-right-width: 1px;
  border-right-style: solid;
}

.brandContacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-bottom-color: rgb(194, 194, 194);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.brandContacts img {
  height: 120px;
  width: 80%;
}

.contacts {
  overflow-y: scroll;
  height: 50vh;
}
.contact {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact img {
  height: 80px;
  width: 150px;
}

.currentUser {
  align-items: center;
  display: flex;
  justify-content: center;
  border-top-color: rgb(194, 194, 194);
  border-top-width: 1px;
  border-top-style: solid;
}
.currentUser img {
  height: 90px;
}
.selectedChat {
  background-color: rgb(225, 225, 225);
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 0.5px;
  direction: rtl;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  direction: rtl;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  direction: rtl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  direction: rtl;
}
/* img {
  width: 200px;
  height: 70px;
} */
/* 
.contactsContainer {
  display: grid;
  grid-template-rows: 10% 75% 10%;
  overflow: hidden;
  background-color: aliceblue;
}
.brandContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}
.contacts img {
  width: 200px;
  height: 70px;
} */
/* .contact {
  background-color: rgb(193, 121, 13);
  min-height: 5rem;
  width: "90%";
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.4rem;
  gap: 1rem;
  align-items: center;
  display: flex;
  transition: 0.5s ease-in-out;
}
.avatar img {
  height: 3rem;
} */
